@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
   --branco-primaria: #FFFFFF;
   --cinza-secundario: #C0C0C0;
   --azul-botao: #167BF7;
   --cor-de-fundo: #000000;
   --fonte-principal: 'Inter';
   --botao-azul-efeito: #3c92fa;  
}

*{
   margin: 0%;
   padding: 0%;
}

body {
   background-color: var(--cor-de-fundo);
   color: var(--branco-primaria);
   font-family: var(--fonte-principal);
   font-size: 1rem;
   font-weight: 400;
}

.principal {
   background-image: url(img/fundo.png);
   background-size: contain;
   background-repeat: no-repeat;
   align-items: center;
   text-align: center;   
}

.container__caixa{
   margin: 0 6em;
}

.container {
   height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
  }

.container__titulo{
   font-size: 2rem;
   font-weight: 700;
}

.container__imagem{
   margin: 1em 0 2em 0;
}

.container__botao {
background-color: var(--azul-botao);
border-radius: 5px;
padding: 1em;
color: var(--branco-primaria);
display: block;
text-decoration: none;
margin-bottom: 1em; 
}

.container__botao:hover{
   background-color: var(--botao-azul-efeito);
   color: var(--cor-de-fundo)
}

.botao__secundario{
   background-color: transparent;
   border: 2px solid var(--branco-primaria);
}

.container__aviso{
   font-size: 0.75rem;
   color: var(--cinza-secundario);
}

.secundario__imagem{
   width: 70%;
   margin-left: 5em;
}

.secundario{
   align-items: center;
   text-align: center;
   margin: 0 10em;
}

.descricao__titulo{
   font-weight: 700;
   font-size: 3rem;
   color: var(--branco-primaria);
   margin-bottom: 0.1em;
}

.descricao__texto{  
   color: #F9F9F9;
}

.container__secundario{
   margin-bottom: -8em;
}

.secundario__botao{
   display: inline-block;
   margin-top: 1em;
   margin-inline-end: 28em;
   width: 9vw;
}

.container__descricao{ 
   padding: 4em 4em 0;
   font-size: 1.063rem;
   color: #F9F9F9;
}

.dispositivos__lista{
   display:flex;
   justify-content: center;
   list-style-type: none;
   margin: 5em 0;  
}

.dispositivos{
   text-align: center;
   margin:  10em;
}

.dispositivos__titulo{
   font-size: 3rem;
   color: var(--branco-primaria);
}

.lista__item{
   font-family: var(--fonte-principal);
   font-weight: 700;
   font-size: 2rem;
   color: var(--branco-primaria);
}

.rodape{
   text-align: center;
   margin: 15em 3em 5em ;
   
}

.rodape__lista{
   display: flex;
   justify-content: center;
   list-style-type: none;        
   margin-top: 1em;  
}

.lista__link a{
   font-family: var(--fonte-principal);
   font-size: 1rem;
   color: var(--branco-primaria);
   text-decoration: none;
   margin-left: 1em;
}

.rodape__texto{
   font-size: 0.85rem;
   color: #C0C0C0;
   margin: 1em 0;        
}

.lista__link a:hover{
   color: var(--azul-botao)
}

.lista__link a:active {
   color: purple;
}

@media screen and (min-width: 1000px) and (max-width: 1424px){

   .container__caixa{
      margin: 0em 2em;
      margin-bottom: 8vw;
   }

   .container__titulo{
      font-size: 1.6rem;
   }

   .container__imagem{
      height: 9vw;
   }
   .container__botao{
      font-size: 1.125rem;
      width: 20em;
      margin: auto;
      margin-bottom: 1em;
   }

   .secundario__imagem{
      width: 35vw;
      margin:auto;
   }

   .container__descricao{
      padding: 0;
      text-align: center;
   }

   .descricao__titulo{
      font-size: 2rem;      
   }

   .descricao__texto{    
      padding-bottom:1em;     
   }

   .secundario__botao{
      width: 9em;
   }

   .dispositivos__titulo{
      font-size: 2.5rem;
   }

   .lista__item{
      font-size: 1.6rem;
   }        
}

@media screen and (min-width: 681px) and (max-width: 999px){

   .container{
      margin-top: 6em;
      display: block;
      background-image: none;      
   }

   .container__titulo{
      font-size: 1.6rem;
   }
   
   .container__imagem{
      width: 40vw;
      padding: 4em 0em;
   }

   .container__botao{
      font-size: 1.125rem;
      width: 20em;
      margin: auto;
      margin-bottom: 1em;
   }

   .secundario{
      margin: 0;
      text-align: center;
      align-items: center;
   }

   .secundario__imagem{
      width: 50vw;
      margin-left: 0;
   }

   .descricao__titulo{
      font-size: 2rem;
      margin: 0 0 1em;
   }
   
   .descricao__texto{    
      padding-bottom: 2em;
      font-size: 1.125rem;
   }

   .container__combo{      
      padding: 5em 0 8em 0;      
      
}
   .container__secundario{
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 5em;
      margin: 0 3em;
   }

   .dispositivos{
      margin: -7em 1em 0;
      text-align: center;
   }
 
   .dispositivos__lista{
      display: block;
      
   }
 .dispositivos__titulo{
      font-size: 2.1rem;
   }

   .lista__item{
      font-size: 1.6rem;
   }        

   .rodape{
      margin-top: -2;      
   }

   .lista__link a{
      font-size: 0.80rem;     
   }

   .rodape__texto{
   font-size: 0.70rem;
   }
}

@media screen and (max-width: 680px) {

   .container__caixa{
      margin: 3vh 2vh 8vh;
   }
   
   .container {
      max-width: 100%;
      height: 100vh;
      display: block;
      background-image: none;  
      text-align: center;
      align-items: center;
      overflow-x: hidden;          
   }
   
   .container__titulo{
      font-size: 1.55rem;         
   }
   
   .container__imagem{
      width: 40vh;
      padding: 6em 0;      
   }

   .container__botao {
      font-size: 1.165rem;
      width: auto;
      margin: auto;
      margin-bottom: 0.3em
   }

   .secundario__imagem{
      width: 50vh;
      margin-left: 0;
      
   }

   .secundario{      
      margin: 0 0em;
   }

   .container__descricao{
      margin-top: 1vh;
      font-size: 1rem;
   }

   .descricao__titulo{
      font-size: 2rem;
   }
   
   .descricao__texto{       
      font-size: 1rem;
   }

   .container__secundario{
      margin: -20vh 0 25vh;
      display: flex;
      flex-direction: column-reverse;
   }

   .secundario__botao{    
      margin-top: 3em;   
   }

   .dispositivos{
      text-align: center;
      margin: -6em 1em 0;
   }

   .dispositivos__titulo{
      font-size: 2.1rem;      
   }

   .lista__item{
      font-size: 1.3rem;
   }

   .dispositivos__lista{
      display: block;
   }

   .rodape{
      overflow-x: hidden;     
      margin: 13em 2em 2em ;   
   }
 
   .rodape__lista{
      display: block;
   }

   .lista__link a{
      font-size: 0.80rem;     
   }

   .rodape__texto{
   font-size: 0.60rem;
   }
}

